<%- include("../partials/header.ejs") %>

<!-- Jumbotron -->
<div class="container mb-5">
    <div class="jumbotron">
        
        <h1>Welcome to YelpCamp Campgrounds!</h1>
        <p>View out hand-picked campgrounds all over the world</p>
        <a href="/campgrounds/new" class="btn btn-info btn-lg">Add new campground</a>
    </div>
    <!-- Body -->
    <div class="row">
        <% campgrounds.forEach(campground => { %>
        <div class="col-lg-4 col-md-6">
            <div class="card">
                <img class="card-img-top" src="<%=campground.imageURL%>">
                <div class="card-body text-center">
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="card-text"><%= campground.description.substring(0,147) %></p>
                    <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More details</a>
                </div>
            </div>
        </div>
        <% }); %>
    </div>

</div>

<%- include("../partials/footer.ejs") %>